<% content_for :page_title, 'New Faction' %>

<div class="container-fluid">
  <div class="pagetitle">
    <h1>New Faction</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to "Sectors", sectors_path %></li>
        <li class="breadcrumb-item"><%= link_to @sector.name, sector_path(@sector) %></li>
        <li class="breadcrumb-item"><%= link_to "Factions", factions_path(sector_id: @sector.id) %></li>
        <li class="breadcrumb-item active">New</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Create New Faction in <%= @sector.name %> Sector</h5>

            <%= form_for @faction, url: factions_path, html: { class: "row g-3" } do |f| %>
              <% if @faction.errors.any? %>
                <div class="col-12">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading"><%= pluralize(@faction.errors.count, "error") %> prohibited this faction from being saved:</h4>
                    <ul class="mb-0">
                      <% @faction.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
              <% end %>

              <%= f.hidden_field :sector_id, value: @sector.id %>
              <%= f.hidden_field :created_at, value: Time.now %>
              <%= f.hidden_field :updated_at, value: Time.now %>

              <div class="col-12">
                <%= f.label :name, class: "form-label" %>
                <%= f.text_field :name, class: 'form-control', placeholder: "Faction Name" %>
              </div>

              <div class="col-12">
                <%= f.label :description, class: "form-label" %>
                <%= f.text_area :description, class: 'form-control', rows: 3, placeholder: "Brief description of the faction" %>
              </div>

              <div class="col-12 mt-3">
                <%= f.label :color_code, "Faction Color", class: "form-label d-block" %>
                <%= f.text_field :color_code, id: 'color_picker', class: "form-control" %>
                <div class="form-text">Choose a color to represent this faction on the hexmap.</div>
              </div>

              <div class="text-center mt-4">
                <%= f.submit "Create Faction", class: 'btn btn-primary px-4' %>
                <%= link_to 'Cancel', factions_path(sector_id: @sector.id), class: "btn btn-secondary px-4" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  $(document).ready(function() {
    $('#color_picker').spectrum({
      preferredFormat: "rgb",
      showInput: true
    });
  });
</script>