<style>
  thead {
    position: sticky;
    inset-block-start: 0; /* "top" */
    background: #eee;
    border-bottom: 2px solid #ccc;
  }
  
  table {
    border-collapse: collapse;
  }

  html {
    scroll-padding-top: 70px; /* height of sticky header */
  }
	
</style>

<div class="pagetitle">
  <h1>System Details</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active"><a href="/">System Details</a></li>
    </ol>
  </nav>
</div>

<section>
  <div class="container-fluid">
    <table class="table table-hover table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">StarPort</th>
          <th scope="col">Size</th>
          <th scope="col">Atmosphere</th>
          <th scope="col">Hydrosphere</th>
          <th scope="col">Population</th>
          <th scope="col">Government</th>
          <th scope="col">Law</th>
          <th scope="col">Tech</th>
          <th scope="col">Bases</th>
          <th scope="col">Notes1</th>
          <th scope="col">Notes2</th>
          <th scope="col">Notes3</th>
          <th scope="col">Travel Ring</th>
          <th scope="col">Asteroid Belts</th>
          <th scope="col">Gas Giants</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
      <% unless @data.blank? %>
        <% @data.each do |details| %>
            <tr>
              <td id=<%=details.name %>><%=details.name %></td>
              <td id=<%=details.location %>><%=details.location %></td>
              <td><%=details.starport %></td>
              <td><%=details.planet_size %></td>
              <td><%=details.atmosphere %></td>
              <td><%=details.hydrosphere %></td>
              <td><%=details.population %></td>
              <td><%=details.goverment %></td>
              <td><%=details.law %></td>
              <td><%=details.tech_level %></td>
              <td><%=details.bases %></td>
              <td><%=details.notes1 %></td>
              <td><%=details.notes2 %></td>
              <td><%=details.notes3 %></td>
              <td><%=details.ring %></td>
              <td><%=details.asteroid_belts %></td>
              <td><%=details.gas_giants %></td>
              <td>TBD Edit Function</td>
            </tr>
          <% end %>
      <% end %>
    </table>
  </div>  
</section>
