<%= form_for @system_note, url: @system_note.persisted? ? system_note_path(@system_note) : system_notes_path, html: {class: "form_for_notes"} do |f| %>

  <% if @system_note.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@system_note.errors.count, "error") %> prohibited this note from being saved:
      </h2>
      <ul>
        <% @system_note.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

      <div class='col-lg-12'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>
              Note for <%= @system.name %> system
              <%= f.hidden_field :system_id, value: @system.id %>
              <%= f.hidden_field :author, value: current_user.email %>
            </h5>
          <div>

          <div class="form-group form_input_padding">
            <%= f.label :content %>
            <%= f.text_area :content, class: 'form-control', style:"height: 100px" %>
            <span class="pull-right label label-default" id="count_message"></span>
          </div>

          <div class="form_input_padding">
            <div class="form-check form-switch">
              <%= f.label :public_view, class: "form-check-label" %>
              <%= f.check_box :public_view, class: 'form-check-input' %>
            </div>
          </div>
          
          <%= f.hidden_field :updated_at, value: @system_note.persisted? ? Time.now : nil %>
          <%= f.hidden_field :created_at, value: Time.now %>  
          
          <div class='col-12 form_input_padding'><%= f.submit class: 'btn btn-primary' %></div>
          </div>            
          </div>
        </div>
      </div>

<% end %>

<script>
  $(document).ready(function() {
    var text_max = 512;
    $('#count_message').html('0 / ' + text_max );
    
    $('#sector_model_system_note_content').keyup(function() {
      var text_length = $('#sector_model_system_note_content').val().length;
      var text_remaining = text_max - text_length;
      
      $('#count_message').html(text_length + ' / ' + text_max);
    });
  });
</script>