  <div class="pagetitle">
    <h1>Notes <span>| 
    <% if current_user.member? || current_user.admin? %>
      <button class='btn btn-primary btn-sm open-modal-click' id="new_note">New Note</button>
    <% end %></span></h5>
  </div>
  
  <% @system_notes.each do |note| %>
    <div class="col-12">
      <div class="card overflow-auto" style="min-height: 50px;">
        <div class="card-body">
          <h5 class="card-title"><%= note.author.split('@').first %> <span>| <small><%= note.updated_at.strftime("%m/%d/%Y") %></small></span></h5>
          <%= note.content %>
          <% unless note.author != current_user.email || !current_user.admin? %>
            <div class="pt-3">
              <button class='btn btn-warning open-modal-click' id="edit_note" data-url="<%= edit_system_note_path(note, sector_model_system_note: { system_id: @system.id }) %>">Edit</button>
              <%= link_to 'Delete', system_note_path(note, sector_model_system_note: { system_id: @system.id }), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>                        
            </div>
          <% end %>          
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"></h4>
        </div>
        <div class="modal-body">
          <div id="modal-content"></div>
        </div>
      </div>
    </div>
  </div>
  
<script>

  $(document).ready(function() {
    $(".open-modal-click").click(function(event) {
      var clicked = $(this);
      var target = "";

      if (clicked.attr("id") == "new_note") {
        target = "<%= j new_system_note_path(sector_model_system_note: { system_id: @system.id }) %>"
      } else if (clicked.attr("id") == "edit_note") {
        target = clicked.data("url")
      }
  
      $.ajax({
        url: target,
        type: "GET",
        dataType: "script",
        success: function(data) {
          $("#modal-content").html(data);
        }
      });
    });
  });

  $(document).off('submit', 'form.form_for_notes').on('submit', 'form.form_for_notes', function(event) {
    event.preventDefault();
    var form = $(this);
    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      data: form.serialize(),
      dataType: 'script',
      success: function(data, textStatus, xhr) {
        if (xhr.status === 204) {
          $('#myModal').modal('hide');
          $('.modal-content').html('');
          $.ajax({
            url: '<%= system_notes_path(system_id: @system.id, partial: "yes") %>',
            type: 'GET',
            success: function(data) {
              $('#notes_table').html(data);
            }
          });
        }
      },
      error: function(xhr) {
        $('.modal-content').html(xhr.responseText);
        $('#myModal').show();
      },
    });
  });

</script>
