<%= form_for @system, url: @system.persisted? ? system_path(@system) : systems_path do |f| %>

  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:
      </h2>
      <ul>
        <% @system.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <section class='section'>
    <div class='row'>
      <div class='col-lg-10'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>
              System located in: <%= @sector.name %> sector
              <%= f.hidden_field :sector_id, value: @sector.id %>
            </h5>
          <div>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, maxlength: 45, class: 'form-control' %>
            </div>
          
            <div class="form-group">
              <%= f.label :location %> <small>(Ex. 0301 = third column, first row)</small>
              <%= f.number_field :location, class: 'form-control' %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Port' %>
              <%= f.select :starport, options_for_select(Shared::SystemMapping::PORT_MAP.map { |k, v| [v, k] }, selected: @system.uwp[0]), {}, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Size' %>
              <%= f.select :planet_size, options_for_select(Shared::SystemMapping::SIZE_MAP.map { |k, v| [v, k] }, selected: @system.uwp[1]), {}, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Atmo' %>
              <%= f.select :atmosphere, options_for_select(Shared::SystemMapping::ATMO_MAP.map { |k, v| [v, k] }, selected: @system.uwp[2]), {}, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Hydro' %>
              <%= f.select :hydrosphere, options_for_select(Shared::SystemMapping::HYDRO_MAP.map { |k, v| [v, k] }, selected: @system.uwp[3]), {}, { class: "form-control" } %>
            </div>

            <div id="population">
              <div class="form-group">
                <%= f.label 'Pop Base' %>
                <%= f.select :pop_base, options_for_select((0..9).to_a, @system.pbg[0]), {}, { class: 'form-control' } %>
              </div>
            
              <div class="form-group">
                <%= f.label 'Pop' %>
                <%= f.select :population, options_for_select(Shared::SystemMapping::POP_MAP.map { |k, v| [v.call(@system.pbg[0]), k] }, selected: @system.uwp[4]), {}, { class: "form-control" } %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label 'Gov' %>
              <%= f.select :goverment, options_for_select(Shared::SystemMapping::GOV_MAP.map { |k, v| [v, k] }, selected: @system.uwp[5]), {}, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'LAW' %>
              <%= f.select :law, options_for_select(Shared::SystemMapping::LAW_MAP.map { |k, v| [v, k] }, selected: @system.uwp[6]), {}, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Tech' %>
              <%= f.select :tech_level, options_for_select(Shared::SystemMapping::TECH_MAP.map { |k, v| [v, k] }, selected: @system.uwp[8]), {}, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Bases' %>
              <%= f.select :base, options_for_select(Shared::SystemMapping::BASES_MAP.map { |k, v| [v, k] },selected: @system.base[0]), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Note 1' %>
              <%= f.select :notes1, options_for_select(Shared::SystemMapping::NOTES_MAP.map { |k, v| [v, k] }, selected: @system.notes[0,2]), { include_blank: true },  { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Note 2' %>
              <%= f.select :notes2, options_for_select(Shared::SystemMapping::NOTES_MAP.map { |k, v| [v, k] }, selected: @system.notes[3,2]), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Note 3' %>
              <%= f.select :notes3, options_for_select(Shared::SystemMapping::NOTES_MAP.map { |k, v| [v, k] }, selected: @system.notes[6,2]), { include_blank: true }, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Travel Advisory' %>
              <%= f.select :ring, options_for_select(Shared::SystemMapping::ADVISORY_MAP.map { |k, v| [v, k] }, selected: @system.ring[0]), {}, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Asteroid Belts' %>
              <%= f.select :asteroid_belts, options_for_select((0..9).to_a, @system.pbg[1]), {}, { class: 'form-control' } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Gas Giants' %>
              <%= f.select :gas_giants, options_for_select((0..9).to_a, @system.pbg[2]), {}, { class: 'form-control' } %>
            </div>
          
            <div class="form-group">
              <%= f.label :allegiance %>
              <%= f.text_field :allegiance, maxlength: 45, class: 'form-control' %>
            </div>
            
            <div class='col-12'><%= f.submit class: 'btn btn-primary' %></div>
          </div>            
          </div>
        </div>
      </div>
    </div>
  </section>

<% end %>

<script>

  $(document).ready(function(){
      $('#population').on('change', '#sector_model_system_pop_base', function(){
        var pop_base_value = $(this).val();
        if (pop_base_value !== '0') {
          $('#sector_model_system_population option').each(function(){
            var pop_value = $(this).val();
            if (pop_value !== '0') {
              $(this).text(pop_base_value + $(this).text().substring(1, $(this).text().length));
            }
          });
        } else {
          $('#sector_model_system_population').val("0")
        }
        });
      });

</script>