<% content_for :page_title, 'Systems' %>

<style>
  thead {
    position: sticky;
    inset-block-start: 0; /* "top" */
    background: #eee;
    border-bottom: 2px solid #ccc;
  }
  
  table {
    border-collapse: collapse;
  }

  html {
    scroll-padding-top: 70px; /* height of sticky header */
  }
	
</style>


<div class="pagetitle">
  <h1>Systems</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><%= link_to "Sectors", sectors_path %></li>
    </ol>
  </nav>
</div>

<section>
  <div class="col-12">
    <div class="card overflow-auto">
      <div class="card-body">
        <h5 class="card-title">Systems <span>| <%= link_to "Hexmap", "/hex_system/hexmap?sector_id=#{params[:sector_id]}" %></span> <span>| <%= link_to 'New System', new_system_path(sector_model_system: { sector_id: params[:sector_id] }) %></span></h5>
        <table class="table table-borderless table-sm table-striped">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Port</th>
              <th scope="col">Size</th>
              <th scope="col">Atmo</th>
              <th scope="col">Hydro</th>
              <th scope="col">Pop</th>
              <th scope="col">Gov</th>
              <th scope="col">Law</th>
              <th scope="col">Tech</th>
              <th scope="col">Bases</th>
              <th scope="col">Traits</th>
              <th scope="col">Advisory</th>
              <th scope="col">Belts</th>
              <th scope="col">Gas Giants</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <% unless @systems.blank? %>
            <% @systems.each do |details| %>
                <tr>
                  <th scope="row"><%= link_to details.name, system_path(details.id) %></th>
                  <td><%=details.starport.split('-').first %></td>
                  <td><%=details.planet_size.split('-').first %></td>
                  <td><%=details.atmosphere.split('-').first %></td>
                  <td><%=details.hydrosphere.split('-').last %> Water</td>
                  <td><%=details.population %></td>
                  <td><%=details.goverment.split('-').first %></td>
                  <td><%=details.law %></td>
                  <td><%=details.tech_level %></td>
                  <td><%=details.bases %></td>
                  <td><%= [details.notes1, details.notes2, details.notes3].compact.join(', ') %></td>
                  <td><strong><%= details.advisory.split(':').first %></strong></td>
                  <td><%=details.asteroid_belts %></td>
                  <td><%=details.gas_giants %></td>
                  <td>
                    <div class="btn-group" role="group">
                      <% unless @sector.author != current_user.email %>
                        <%= link_to 'Edit', edit_system_path(details), class: "btn btn-warning", style:"width: 5em" %>
                        <%= link_to 'Delete', system_path(id: details.id, sector_id: @sector.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style:"width: 5em" %>
                      <% end %>
                    </div>
                  </td>
                </tr>
              <% end %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</section>