<% content_for :page_title, 'New System' %>

<%= form_for @system, url: systems_path do |f| %>

  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:
      </h2>
      <ul>
        <% @system.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section class='section'>
    <div class='row'>
      <div class='col-lg-10'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>
              System located in: <%= @sector.name %> sector
              <%= f.hidden_field :sector_id, value: @sector.id %>
            </h5>
          <div>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          
            <div class="form-group">
              <%= f.label :location %>
              <%= f.number_field :location, class: 'form-control' %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Port' %>
              <%= f.select :starport, options_for_select(Shared::SystemMapping::PORT_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Size' %>
              <%= f.select :planet_size, options_for_select(Shared::SystemMapping::SIZE_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Atmo' %>
              <%= f.select :atmosphere, options_for_select(Shared::SystemMapping::ATMO_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Hydro' %>
              <%= f.select :hydrosphere, options_for_select(Shared::SystemMapping::HYDRO_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div id="population">
              <div class="form-group">
                <%= f.label 'Pop Base' %>
                <%= f.number_field :pop_base, size: 1, class: 'form-control' %>
              </div>
            
              <div class="form-group">
                <%= f.label 'Pop' %>
                <%= f.select :population, options_for_select(Shared::SystemMapping::POP_MAP.map { |k, v| [v.call(0), k] }), { include_blank: true }, { class: "form-control" } %>
              </div>
            </div>
            
            <div class="form-group">
              <%= f.label 'Gov' %>
              <%= f.select :goverment, options_for_select(Shared::SystemMapping::GOV_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'LAW' %>
              <%= f.select :law, options_for_select(Shared::SystemMapping::LAW_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Tech' %>
              <%= f.select :tech_level, options_for_select(Shared::SystemMapping::TECH_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Bases' %>
              <%= f.select :base, options_for_select(Shared::SystemMapping::BASES_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Note 1' %>
              <%= f.select :notes1, options_for_select(Shared::SystemMapping::NOTES_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Note 2' %>
              <%= f.select :notes2, options_for_select(Shared::SystemMapping::NOTES_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Note 3' %>
              <%= f.select :notes3, options_for_select(Shared::SystemMapping::NOTES_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
            
            <div class="form-group">
              <%= f.label 'Travel Advisory' %>
              <%= f.select :ring, options_for_select(Shared::SystemMapping::ADVISORY_MAP.map { |k, v| [v, k] }), { include_blank: true }, { class: "form-control" } %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Asteroid Belts' %>
              <%= f.number_field :asteroid_belts, class: 'form-control' %>
            </div>
          
            <div class="form-group">
              <%= f.label 'Gas Giants' %>
              <%= f.number_field :gas_giants, class: 'form-control' %>
            </div>
          
            <div class="form-group">
              <%= f.label :allegiance %>
              <%= f.text_field :allegiance, class: 'form-control' %>
            </div>

            <div class='col-12'><%= f.submit class: 'btn btn-primary' %></div>
          </div>            
          </div>
        </div>
      </div>
    </div>
  </section>

<% end %>

<script>
  $(document).ready(function(){
      $('#population').on('change', '#sector_model_system_pop_base', function(){
        var pop_base_value = $(this).val();
        $('#sector_model_system_population option').each(function(){
          var pop_value = $(this).val();
          console.log(pop_value)
          if (pop_value !== '0') {
            $(this).text(pop_base_value + $(this).text().substring(1, $(this).text().length));
          }
        });
      });
    });
</script>