<% content_for :page_title, "System" %>

<style>
  thead {
    position: sticky;
    inset-block-start: 0; /* "top" */
    background: #eee;
    border-bottom: 2px solid #ccc;
  }
  
  table {
    border-collapse: collapse;
  }

  html {
    scroll-padding-top: 70px; /* height of sticky header */
  }

  .card {min-height: 165px}

</style>

<% unless @system.blank? %>
  <div class="pagetitle">
    <h1><%= @system.name %> <span>| <%= @system.location %></span></h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to "Sectors", sectors_path %></li>
        <li class="breadcrumb-item"><%= link_to "Systems", systems_path(sector_id: @system.sector.id) %></li>
        <li class="breadcrumb-item"><%= link_to "Hexmap", "/hex_system/hexmap?sector_id=#{@system.sector.id}" %></li>
      </ol>
    </nav>
  </div>
  
  <section class='section dashboard'>
    <div id="row1" class='row'>
      
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Starport <span>| <%= @system.starport.split.first %></span></h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <h6><%= @system.starport.split(" - ").last %></h6>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Planet Size <span>| <%= @system.planet_size %></span></h5>
              <div class="d-flex justify-content-around">
                <div class="card-icon rounded-circle d-flex flex-column align-items-center justify-content-center mx-5">
                  <i id="icon1" class="bi bi-globe" data-value="<%= planet_size_int(@system.planet_size) %>"></i>
                  <h6><%= @system.name %></h6>
                </div>
                <div class="d-flex align-items-center mx-1">
                  <h3>VS</h3>
                </div>
                <div class="card-icon rounded-circle d-flex flex-column align-items-center justify-content-center mx-5">
                  <i id="icon2" class="bi bi-globe" data-value="12000"></i>
                  <h6>Earth</h6>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Environment</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <h6><strong>Atmo:</strong> <%= @system.atmosphere %></h6>
                  <h6><strong>Hydro:</strong> <%= @system.hydrosphere %></h6>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Population</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <h6><strong>Permanent Population:</strong> <%= @system.population %></h6>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Society</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <h6><strong>Gov:</strong> <%= @system.goverment.split(" - ").first %></h6>
                    <h6><strong>Law:</strong> <%= @system.law %></h6>
                    <h6><strong>Tech:</strong> <%= @system.tech_level %></h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
  
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Faction</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <h6><strong>Faction: </strong><%= @system.faction_name %></h6>
                    <p class="text-muted small"><%= @system.faction_description %></p>
                    <h6><strong>Bases: </strong><%= @system.bases %></h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
      
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Traits</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <h6><%= [@system.notes1, @system.notes2, @system.notes3].compact.join(', ') %></h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>    
  
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>System Elements</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <h6><strong>Asteroid Belts:</strong> <%= @system.asteroid_belts %></h6>
                    <h6><strong>Gas Giants:</strong> <%= @system.gas_giants %></h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>    
  
      <div class='col-xxl-4 col-md-6'>
        <div class='card'>
          <div class='card-body'>
            <h5 class='card-title'>Travel Advisory</h5>
              <div class="d-flex justify-content-around">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div>
                    <h6><strong><%= @system.advisory.split(':').first %>:</strong> <%= @system.advisory.split(':').last %></h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div> 
      
    </div>
    <div class="btn-group" role="group">
      <% unless @system.sector.author != current_user.email %>
        <%= link_to 'Edit', edit_system_path(@system), class: "btn btn-warning", style:"width: 5em" %>
        <%= link_to 'Delete', system_path(id: @system.id, sector_id: @system.sector.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style:"width: 5em" %>
      <% end %>
    </div>
  </section>
<% end %>

<script>
  $(document).ready(function() {
    var icon1 = parseInt($('#icon1').data('value'));
    var icon2 = parseInt($('#icon2').data('value'));
    var ratio = icon1 / icon2;
  
    $('#icon1').css({
      'font-size': ratio + 'em'
    });    
  });
</script>
