<% content_for :page_title, 'New Sector' %>

<%= form_for @sector, url: sectors_path do |f| %>

  <% if @sector.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@sector.errors.count, "error") %> prohibited this sector from being saved:
      </h2>
      <ul>
        <% @sector.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pagetitle">
    <h1>New Sector</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item action"><%= link_to "Sectors", sectors_path %></li>
      </ol>
    </nav>
  </div>

    <section class='section'>
      <div class='row'>
        <div class='col-lg-10'>
          <div class='card'>
            <div class='card-body'>
              <h5 class='card-title'>
              </h5>
            <div>
              <%= f.hidden_field :author, value: current_user.email %>
              
            <div class="form-group form_input_padding">
              <%= f.label :name %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            <div class="form_input_padding">
              <div class="form-check form-switch">
                <%= f.label :public_view, class: "form-check-label" %>
                <%= f.check_box :public_view, class: 'form-check-input' %>
              </div>
            </div>
            
            <%= f.hidden_field :created_at, value: Time.now %>
            <%= f.hidden_field :updated_at, value: Time.now %>
  
            <div class='col-12 form_input_padding'><%= f.submit class: 'btn btn-primary' %></div>  
          </div>            
          </div>
        </div>
      </div>
    </div>
  </section>
  
<% end %>
