<div class="container-fluid">
  <div class="pagetitle">
    <h1>Edit User</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to "User Management", admin_users_path %></li>
        <li class="breadcrumb-item"><%= link_to @user.email, admin_user_path(@user) %></li>
        <li class="breadcrumb-item active">Edit</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Update User Profile</h5>

            <%= form_with(model: [:admin, @user], local: true, class: "row g-3") do |f| %>
              <% if @user.errors.any? %>
                <div class="col-12">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <h4 class="alert-heading"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>
                    <ul class="mb-0">
                      <% @user.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                </div>
              <% end %>

              <div class="col-12">
                <%= f.label :email, class: "form-label" %>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                  <%= f.email_field :email, class: "form-control" %>
                </div>
              </div>

              <div class="col-12">
                <%= f.label :role, class: "form-label" %>
                <div class="input-group">
                  <span class="input-group-text"><i class="bi bi-shield-check"></i></span>
                  <%= f.select :role, User.roles.keys.map { |r| [r.humanize, r] }, {}, class: "form-select" %>
                </div>
              </div>

              <div class="text-center mt-4">
                <%= f.submit 'Update User', class: "btn btn-primary" %>
                <%= link_to 'Cancel', admin_users_path, class: "btn btn-secondary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
