<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <title><%= yield(:page_title) %></title>
    <%= favicon_link_tag asset_path('cc_icon.png') %>
    
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" %>
    
    <% if @page_libs&.include?(:hexmap) %>
      <%= include_gon %>
      <%= javascript_include_tag "hex_system/hexmap.js" %>
    <% end %>
    
    <% if @page_libs&.include?(:color_picker) %>
      <%= stylesheet_link_tag "color_picker/spectrum.css" %>
      <%= javascript_include_tag "color_picker/spectrum.js" %>
    <% end %>    
    
  </head>
  
  <body <%if request.original_url != root_url %> class='toggle-sidebar' <%end%>>
    
    <%= render "layouts/header" %>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <main id="main" class="main">
      <%= yield %>
    </main>
    
  </body>

</html>
